body {
  background-color: #CCCCCC;
}

.page-title {
  text-align: center;
  text-decoration: underline;
  color: #003366;
}

.container {
  margin: 50px auto;
  width: 640px;
  border: solid black 1px;
  background-color: #003366;
}

.login {
  position: relative;
  margin: 0 auto;
  padding: 20px 20px 20px;
  width: 310px;
}

.login h1 {
  color:#FFFFFF;
}

.login form {

}

.login input{
  margin: 1em;
  font-size: 1em;
  border: solid #FFFFFF 5px;
}

.login input[type=submit] {
  cursor: pointer;
  background-color: #FFFFFF;
}

.login input[type=submit]:hover {
  border: solid #CCCC99 5px;
}
