/ This view is the home page for any ATCO.
/ 
  Required Parameters:
  *  @current_schedules  Array("Schedules::Worker")      It contains the current schedule for all the worker profile (begin: < NOW() < end:).
/ 
  Optional Parameters:


= content_for :container do

  = partial "/base/schedule_table_days.haml", :locals => { schedules: @current_schedules, start_at: Date.today.beginning_of_week.to_time }
