.row
  .col-sm-10
    / - slots_to_display = slots_over_week schedules, start_at
    / - (slots_to_display).each do | slots |
    /   - if slots != nil
    /     - slots.each do | slot |
    /       - puts slot
    /   - else
    /     - puts "helo"
    .row
      / = button_to "sendTo", :method => "sendTo"

      / = link_to "", :onclick => 'sendToSAFAPS()', :class => 'btn btn-default btn-lg send' do
      /   Send request to SAFAPS
      / = link_to "sendTo", :class => 'btn btn-default btn-md' do
      /   Send
      %button#show-slots-logs-btn.btn.btn-info.send{:type => "submit"} SAFAPS S&F
    %hr 
    .panel.panel-default
      .panel-heading
        %h3 Delivered schedule / Log events
      .panel-body
        .row
          MONDAY
        %br
        .row
          .col-sm-6
            10h30 - 11h00
            %br
            ER1
            %br
            Brian
          .col-sm-6
            10h32 : log-in
            %br
            10h59 : log-out
        %br
        .row
          .col-sm-6
            13h30 - 14h00
            %br
            ER1
            %br
            Jean
          .col-sm-6
            13h31 : log-in
            %br
            13h45 : log-out
            %br
            13h31 : log-in
            %br
        %br
        .row
          .col-sm-6
            14h00 - 14h30
            %br
            ER1
            %br
            Sara
          .col-sm-6
        %br
        .row
          .col-sm-6
            17h00 - 17h30
            %br
            ER1
            %br
            Jean
          .col-sm-6
        %hr
        .row
          TUESDAY
        %br
        .row
          .col-sm-6
            10h30 - 11h00
            %br
            ER1
            %br
            Brian
          .col-sm-6
            10h32 : log-in
            %br
            10h59 : log-out
        %br
        .row
          .col-sm-6
            13h30 - 14h00
            %br
            ER1
            %br
            Michel
          .col-sm-6
            13h31 : log-in
            %br
            13h45 : log-out
            %br
            13h31 : log-in
            %br
        %br
        .row
          .col-sm-6
            14h00 - 14h30
            %br
            ER1
            %br
            Sara
          .col-sm-6
        %br
        .row
          .col-sm-6
            17h00 - 17h30
            %br
            ER1
          .col-sm-6
        %hr
        .row
          WEDNESDAY
        %br
        .row
          .col-sm-6
            10h30 - 11h00
            %br
            ER1
          .col-sm-6
            10h32 : log-in
            %br
            10h59 : log-out
        %br
        .row
          .col-sm-6
            13h30 - 14h00
            %br
            ER1
          .col-sm-6
            13h31 : log-in
            %br
            13h45 : log-out
            %br
            13h31 : log-in
            %br
        .row
          .col-sm-6
            14h00 - 14h30
            %br
            ER1
          .col-sm-6
        .row
          .col-sm-6
            17h00 - 17h30
            %br
            ER1
          .col-sm-6
        %hr
= content_for :javascript do
  = javascript_include_tag '/app/js/scheduleJS.js'